.dialog__content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.dialog__card {
  width: 45%;
  height: auto;
  background: #fff;
  margin: auto;
  margin-top: 2em;
  border-radius: 0.5em;
  padding: 0.5em;
}

.dialog__header {
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
}

.dialog__cert {
  padding: 0.5em 1em;
}

.dialog__body {
  width: 100%;
  margin-top: 0.5em;
  font-weight: bold;
  padding: 0.5em 1em;
}

.dialog__group {
  margin-bottom: 0.5em;
  font-size: 12px;
}

.dialog__input {
  width: 100%;
  margin-top: 0.4em;
  border: 0px;
  border: 1px solid #90a4ae;
  border-radius: 0.3em;
  font-size: 12px;
  padding: 0.5em;
  font-weight: bold;
  color: #37474f;
  outline: none;
}

.dialog__footer {
  padding: 0.5em 1em;
  text-align: right;
}

.dialog__button {
  padding: 0.5em 1em;
  cursor: pointer;
  margin-right: 0.2em;
  border: 0px;
  border-radius: 0.4em;
  font-weight: 500;
}

.dialog__button.red {
  background: #e91e63;
  color: #fff;
}

.dialog__button.primary {
  background: #e3f2fd;
  color: #2196f3;
  border: 1px solid #2196f3;
  font-weight: bold;
}

@media (max-width: 768px) {
  .dialog__card {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .dialog__card {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .dialog__card {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .dialog__card {
    width: 35%;
  }
}
