.dialog__cert {
  padding: 0.5em 1em;
}

.dialog__body {
  width: 100%;
  margin-top: 0.5em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
}

.dialog__group {
  margin-bottom: 0.5em;
  font-size: 12px;
}

.dialog__input {
  width: 100%;
  margin-top: 0.4em;
  border: 0px;
  border: 1px solid #90a4ae;
  border-radius: 0.3em;
  font-size: 12px;
  padding: 0.5em;
  font-weight: bold;
  color: #37474f;
  outline: none;
}

.dialog__footer {
  padding: 0.5em 1em;
  text-align: right;
}

.dialog__button {
  padding: 0.5em 1em;
  cursor: pointer;
  margin-right: 0.2em;
  border: 0px;
  border-radius: 0.4em;
  font-weight: 500;
}

.dialog__button.red {
  background: #e91e63;
  color: #fff;
}

.dialog__button.primary {
  background: #e3f2fd;
  color: #2196f3;
  border: 1px solid #2196f3;
  font-weight: bold;
}
