* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.viewer__content {
  box-sizing: content-box;
  width: auto;
  min-height: auto;
  background: #455a64;
  padding: 0.5em 1.5em;
  position: relative;
}

.viewer__header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #263238;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.viewer__body {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  position: relative;
  display: flex;
  justify-content: center;
}

.layer {
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  border: 1.5px dashed #2196f3;
}

.viewer__change__page {
  position: absolute;
  bottom: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  margin: auto;
  padding: 1em 0.2em;
  z-index: 99;
}

.viewer__change__page.left {
  left: 0px;
}

.viewer__change__page.right {
  right: 0px;
}

.viewer__footer {
  position: absolute;
  width: 100%;
  height: auto;
  color: white;
  padding: 0.4em;
  bottom: 0px;
  left: 0px;
  text-align: right;
}
