@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.cursor__pointer {
  cursor: pointer;
}

.viewer__content {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  background: #37474f;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.viewer__header {
  background-color: #263238;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.viewer__body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.viewer__layer {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer {
  position: relative;
  border: 1.5px dashed #2196f3;
  overflow: auto;
}

.viewer__change__page {
  position: absolute;
  bottom: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  margin: auto;
  padding: 1em 0.2em;
  z-index: 99;
}

.viewer__change__page.left {
  left: 0px;
}

.viewer__change__page.right {
  right: 0px;
}

.viewer__footer {
  position: absolute;
  width: auto;
  height: auto;
  color: white;
  padding: 0.4em;
  bottom: 0px;
  right: 0px;
  text-align: right;
  text-shadow: 1px 1px 2px solid #000;
}

.error__layer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 5em;
  font-weight: bolder;
  color: #b71c1c;
}

.layer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.layer::-webkit-scrollbar:vertical {
  width: 10px;
  background: #fff;
}

.layer::-webkit-scrollbar-button:increment,
.layer::-webkit-scrollbar-button {
  display: none;
}

.layer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.layer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.layer::-webkit-scrollbar-track {
  border-radius: 10px;
}
